@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

body {
    font-family: 'Titillium Web', sans-serif;
    background-color: #010e1b;
    color: white;
    /* overflow-x: hidden; */
}

/* HEADER */
.my-container {
    margin-left: 14em;
    margin-bottom: 17em;
    margin-top: 12em;
}

.my-container .my-row-1 .my-col-1 h1 {
    font-size: 57px;
}

.my-container .my-row-1 .my-col-2 h5 {
    margin-top: 2px;
}

.my-container .my-row-1 .my-col-2 h4 {
    font-size: 45px;
}

.my-container .my-row-1 .my-col-2 h6 {
    margin-top: 1.4em;
    color: rgb(202, 202, 202);
    opacity: 0.7;
}

.my-container .my-row-2 {
    margin-top: 16px;
}
/* HEADER */

/* Button start */

.btn {
    border: 1px solid white;
    background: none;
    padding: 5px 13px;
    font-size: 17px;
    color: rgb(255, 255, 255);
    text-align: left;
    cursor: pointer;
    border-radius: 0.05;
    transition: 0.55s;
    overflow: hidden;
    margin-top: -6em;
}

.my-container .my-row-2 a {
    text-decoration: none;
    color: white;
}

.btn:hover {
    background-color: #e61d2e;
}

/* Button end */

/* Sidenav start */
.sidenav {
    margin-left: 92%;
    margin-top: -415px;
    position: fixed;
}

.sidenav .fa-instagram {
    padding-top: 3px;
}

.sidenav a{
    color: white;
    text-decoration: none;
    display: block;
    margin: 1.5em;
    transition: 0.8s;
}

.sidenav a:hover {
    color:#e61d2e;
    text-decoration: none;
    display: block;
    margin: 1.5em;
}
/* Sidenav end */

.scroll h1 {
    font-size: 30px;
}

/* Scroll animation */
.scroll {
    animation: move 1.5s infinite alternate;
    margin-top: -75px; 
    text-align: center;
}

@keyframes move {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(15px);
    }
}
/* Scroll animation */

/* Main start*/
.my-container-2 {
    margin-top: 13em;
    margin-bottom: 9.5em;
    justify-content: center;
}

.my-container-2 .my-row-1 {
    margin-bottom: 4em;
}

.my-container-2 h5 {
    font-size: 15px;
}

.my-container-2 h6 {
    font-size: 15px;
}

.my-container-2 .my-row-2 ul {
    padding-top: -16px;
    list-style-type: none;
    margin-left: -37px;
}

.my-container-2 .my-row-3 {
    margin-top: 1em;
    margin-left: -0.6em;
}

.my-container-3 h5 {
    font-size: 15px;
}

.my-container-3 {
    padding-top: 4em;
    margin-bottom: 11em;
}

.my-container-3 a {
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

.my-container-3 a:hover {
    text-decoration: none;
    color: #d1d0d0a1;
}

.my-container-3 .my-row-1 {
    margin-bottom: 3em;
}

.my-container-3 .my-row-2 {
    margin-bottom: 3em;
}
/* Main end */

@media (max-width: 778px) {

    .hide {
        display: none;
    }

    .my-container {
        margin: auto;
        margin-top: 6em;
        padding-left: 1.4em;
    }

    .btn {
        margin-top: 1em;
    }

    .my-container .my-row-1 .my-col-2 h5 {
        font-size: 17px;
    }

    .my-container .my-row-1 .my-col-2 h4 {
        margin-top: 0.5em;
    }

    .scroll {
        display: block;
        margin-top: 9em;
        padding: 0;
    }

    .topnav {
        margin-left: 1.2em;
        padding-top: 2em;
        text-decoration: none;
    }
    
    .topnav a {
        color: white;
        text-decoration: none;
        padding: 5px;
        transition: 0.8s;
    }
    .topnav a:hover {
        color:#e61d2e;
        text-decoration: none;
    }

    .my-container-3 .cpen {
        padding-top: 30px;
    }
}

@media (min-width: 778px) {
    .topnav {
        display: none;
    }
}

@media (max-width: 1200px) {
    .my-container .my-row-2 {
        margin-top: 0px;
    }
    
    .my-container .my-row-1 .my-col-1 h6 {
        font-size: 13px;
    }

    .my-container .my-row-1 .my-col-1 h1 {
        font-size: 40px;
    }

    .my-container .my-row-1 .my-col-2 h4 {
        font-size: 40px;
    }

    .my-container .my-row-2 .button-2 {
        margin-left: 15px;
    }
}

@media (max-width: 991px) {

    .my-container .my-row-1 .my-col-1 h1 {
        font-size: 35px;
        /* text-align: center; */
    }

    .my-container .my-row-2 .btn {
        padding: 3px 10px;
        font-size: 13px;
    }
}

.fade {
    opacity: 0;
    transition: opacity 1.3s ease-in;
}

.fade.appear {
    opacity: 1;
}